@{
    ViewBag.Title = "EmployeeSkills";
}

@*<div id="EmployeeSkillsContainer"></div>*@
<script type="text/javascript">



    $(document).ready(function () {
        $('#EmployeeSkillsContainer').jtable({
            title: 'Skills',
            actions: {
                listAction: '@Url.Action("EmployeeSkillsList")',
                deleteAction: '@Url.Action("DeleteSkill")',
                updateAction: '@Url.Action("UpdateEmployeeSkill")',
                createAction: '@Url.Action("AddEmployeeSkill")'
            },
            fields: {
                EmpSkillId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                EmpId: {
                    title: 'Employee',
                    width: '12%',
                    options: '@Url.Action("GetEmployees")'
                },
                SkillId: {
                    title: 'Skills',
                    width: '12%',
                    options: '@Url.Action("GetSkills")'
                }
                
            }
        });

        //Load employee skills list from server
        $('#EmployeeSkillsContainer').jtable('load');

    });

</script>
